/*** 
====================================================================
  process section three
====================================================================
***/

.process-section-three{
  position: relative;
  padding: 120px 0;
  .outer-box{
    position: relative;
    &::before{
      content: "";
      position: absolute;
      top: 24px;
      left: 50%;
      transform: translateX(-50%);
      width: 907px;
      height: 100px;
      background-image: url(../images/icons/line-7.png);
      @include media-breakpoint-down(xl){
        display: none;
      }
    }
    &::after{
      content: "";
      position: absolute;
      top: -119px;
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      width: 1128px;
      height: 1000px;
      background-image: url(../images/icons/map-1.png);
      background-repeat: no-repeat;
      z-index: -1;
    }
  }
}

// .process-block
.process-block-three{
  &:nth-child(2){
    .inner-box{
      margin: 0 auto 30px;
      .icon-box{
        margin: 0 auto;
        margin-bottom: 22px;
      }
    }
  }
  &:last-child{
    .inner-box{
      margin-left: 184px;
      margin-right: 0;
      @include media-breakpoint-down(xl){
        margin-left: 0px;
      }
      .icon-box{
        margin-bottom: 22px;
      }
    }
  }
  .inner-box{
    margin-bottom: 50px;
    text-align: center;
    @include media-breakpoint-down(xl){
      margin-bottom: 30px;
      margin-right: 0px;
    }
    &:hover{
      .icon-box{
        &::before{
          width: 190px;
          height: 190px;
        }
        .icon{
          color: var(--theme-color-light);
        }
        span{
          background-color: #f8f5f1;
        }
      }
    }
    .icon-box{
      position: relative;
      width: 190px;
      height: 190px;
      text-align: center;
      line-height: 190px;
      background-color: #f8f5f1;
      border-radius: 50%;
      margin-bottom: 30px;
      margin: 0 auto 20px;
      &:before{
        width: 0px;
        height: 0px;
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        top: 0;
        right: 0;
        border-radius: 50%;
        background-color: var(--theme-color1);
        transition: all 300ms ease;
      }
      .icon{
        font-size: 60px;
        color: var(--theme-color1);
        position: relative;
        z-index: 3;
        transition: all 300ms ease;
      }
      span{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -30px;
        color: var(--theme-color-dark);
        font-size: 20px;
        font-weight: 700;
        font-family: var(--title-font2);
        display: inline-block;
        width: 60px;
        height: 60px;
        line-height: 60px;
        text-align: center;
        border-radius: 50%;
        background-color: var(--theme-color-light);
        box-shadow: 0px 4px 40px 10px rgba(35, 35, 49, 0.06);
      }
    }
    .title{
      font-family: var(--title-font2);
      font-weight: 500;
      text-transform: uppercase;
      margin-bottom: 0;
    }
  }
}